<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}">
    <title>Reunion Tumultosa</title>
</head>
<body>

    <main>
        <section>
            <div class="container">

                <div class="back-button">
                    <a href="{{ url_for('book') }}" class="back-link">← Back to Books</a>
                </div>
                
                <div class="left-column">
                    <div class="book">
                        <img src="{{ url_for('static', filename='img/tom1.png') }}" alt="Reunion Tumultosa">
                        <h2>Reunion Tumultosa</h2>
                        <span class="author">by Tom Sharpe</span>
                        <span class="category">Category: Comedy</span>
                    </div>
                </div>
                <div class="right-column">
                    <div class="information">
                        <h1>About the Book</h1>
                        <p>Tom Sharpe es una novela humorística que sigue las desventuras de un grupo excéntrico de personajes en una reunión familiar. Con un humor satírico y situaciones caóticas, Sharpe nos sumerge en un mundo de enredos, malentendidos y situaciones desopilantes. Una lectura divertida y llena de giros inesperados que mantendrá al lector entre risas y sorpresas.</p>
                    </div>
                    <div class="qualification">
                        <h2>Customer Reviews</h2>
                        <form id="review-form">
                            <div class="form-group">
                                <label for="rating">Rating</label>
                                <input type="number" id="rating" name="rating" placeholder="Rate from 1 to 5" min="1" max="5" required>
                            </div>
                            <div class="form-group">
                                <label for="review">Review</label>
                                <textarea id="review" name="review" placeholder="Write your Review" required></textarea>
                            </div>
                            <button type="submit">Submit</button>
                        </form>
                        <div class="reviews" id="reviews">
                            <!-- Las reseñas de los usuarios se mostrarán aquí -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="{{ url_for('static', filename='javascript/review.js') }}"></script>
</body>
</html>
